body {
	background: blue;
	background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
	background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
	font-family: century gothic;
	color: white;
}
.panel-primary {
		background-color: rgba(0,0,0,0.3);	
		border-color: #000000;
}
.panel-primary > .panel-heading {
  contentlor: #fff;
  background-color: #000000;
  border-color: #000000;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #000000;
}
.panel-primary > .panel-heading .badge {
  color: #000000;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #000000;
}

.list-group-item {
	background-color: rgba(0,0,0,0.3);	
}
.list-group-item a { 
	color: #c54b4b; /* YOUR CUSTOM STYLES */